@page
@model IndexModel
@{
  ViewData["Title"] = "Autorenübersicht";
}

<h1>Autorenübersicht</h1>

<p>
  <a class="btn btn-primary" asp-page="Authors/Create">Autor/in Hinzufügen</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
          @Html.DisplayNameFor(model => model.Authors[0].Author)
      </th>
      <th>
           @Html.DisplayNameFor(model => model.Authors[0].BookCount)
      </th>
      <th>
          @Html.DisplayNameFor(model => model.Authors[0].Publishers)
      </th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>




